/* Video part*/

body{
    margin: 0;
    padding-bottom: 1000px;
    padding-left: 80px;
    padding-top: 75px;
}
.video{
}

.search{
    height: 40px;
    flex: 1;
    max-width: 360px;
    padding-left: 10px;
    font-size: 18px;
    width: 0;
}

.timestamp{
    position: absolute;
    background-color: black;
    bottom: 10px;
    right: 10px;
    color: white;
    padding-left: 3px;
    padding-right: 3px;
    font-family: roboto, arial;
    padding-top: 3px;
    padding-bottom: 3px;
}

 .search-button{
    width: 50px;
    height: 45px;
    margin-left: -3px;
}
.voice-search-button{
    width: 40px;
    padding-top: 4px;
    background-color: #f8f8f8;
    border: none;
    border-radius: 50%;
    margin-left: 10px;
}
.thumbnail{
    width: 100%;
    position: relative;

}

.video-details{
    display: grid;
    grid-template-columns: 50px 1fr;
}

.channel-logo{
    width: 40px;
    border-radius: 50%;
}
.video-title{
    font-family: roboto, arial;
    font-weight: 500;
    margin: 0;
}

.channel-name{
    margin-top: 0;
    font-size: 14px;
    color: #606060;
    margin-bottom: 0;
    font-family: roboto, arial;
}

.channel-stats{
    margin-top: 6px;
    font-size: 14px;
    color: #606060;
    font-family: roboto, arial;
}

.channel-logo-container{
    width: 50px;
    vertical-align: top;
}
.total-grid{
    display: grid;
    column-gap: 12px;
    row-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
}

/*Header part */

.header{
    height: 56px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    top: 0;
    right: 0;
    left: 0;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(202, 188, 188);
    z-index: 1;
}


.middle-section{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-section{
    display: flex;
    align-items: center;
    width: 300px;
}
.right-section{
    width: 250px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;

}
.notification-count{
    position: absolute;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    text-align: center;
    font-size: 12px;
    top: 10px;
    right: 73px;
}

/*Sidebar part*/

.sidebar{
    display: flex;
    background-color: white;
    position: fixed;
    top: 56px;
    bottom: 0;
    left: 0;
    width: 73px;
    flex-direction: column;
    z-index: 99;
}

.sidebar-item{
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 73px;
    flex-direction: column;
    margin-bottom: 10px;
}
.sidebar-item:hover{
    background-color: rgb(226, 224, 224);
    cursor: pointer;
}
.sidebar-item img{
    height: 30px;
}
.sidebar-item p{
    margin-top: 0;
    font-size: 11px;
    font-family: roboto,arial;
}